/* File: styles.css */

body {
	margin: 0;
	padding: 0;
	font-family: Ubuntu, Arial, sans-serif;
	background-color: lightgray;
}

#wrapper {
	margin: auto;
	padding: 5px;
	width: 750px;
	background-color: white;
}

#div1 {
	background-color: green;
	font-size: 20px;
}

#div2 {
	background-color: yellow;
	font-size: 15px;
}

#div3 {
	background-color: red;
	font-size: 10px;
}