/* File: styles.css */

/* Universal Styles */
body {
	margin: 0;
	padding: 0;
	font-family: Ubuntu, Arial, sans-serif;
	background-color: lightgray;
}

#wrapper {
	margin: auto;
	padding: 0px;
	background-color: white;
	width: 1000px;
}

ul {
	margin: auto;
	padding: 0px;
	width: 1000px;
	background-color: black;
}

a, a:visited {
	color: lightgray;
}

a:hover, a:active {
	color: white;
}

h1 {
	text-align: center;
}

footer {
	text-align: center;
	background-color: black;
	color: lightgray;
	font-size: 12px;
}


/* Home Specific Styles */
#homeImg {
	margin: auto;
	padding: 5px;
	width: 50%;
	height: 50%;
}

#homeDescrip {
	font-size: 16px;
	padding: 30px 0 0 5px;
}

/* About Me Specific Styles */


/* Assignments Specific Styles */


